@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../src/image/day/2.jpg");
  min-height: 100vh;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  min-height: 260px;
  padding: 20px; }
  main button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    width: 32px;
    height: 32px; }
  main .time {
    font-weight: bold;
    color: white;
    font-size: 100px;
    letter-spacing: 4px; }
  main .date {
    color: white;
    font-size: 30px;
    letter-spacing: 4px; }
  main .slider-icon {
    position: absolute;
    top: 50%; }
    main .slider-icon:active {
      transform: scale(1.1); }
  main .slide-prev {
    left: 20px;
    background-image: url(../src/icons/slider-prev.svg);
    background-size: cover; }
  main .slide-next {
    right: 20px;
    background-image: url(../src/icons/slider-next.svg);
    background-size: cover; }

.greeting {
  color: white;
  padding: 10px;
  font-size: 40px;
  flex: 1;
  text-align: right; }

.user-name {
  text-align: left;
  color: white;
  font-size: large;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  font-size: 40px;
  flex: 1; }
  .user-name:focus-visible {
    outline: none; }

.user-name::placeholder {
  color: #ddd4d4; }

.col-6 {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center; }

.col-12 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 115px; }

.row {
  display: flex; }

.footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px; }
  .footer button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    width: 32px;
    height: 32px; }

.changeQuote {
  background-image: url(/src/icons/reload.svg);
  background-size: cover;
  margin-bottom: 20px; }
  .changeQuote:active {
    transform: scale(1.1); }

.quote {
  margin-bottom: 10px; }

.author {
  margin-bottom: 10px; }

header {
  display: flex;
  justify-content: space-between; }
  header .weather {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;
    text-align: left; }
    header .weather .weather-icon {
      font-size: 44px; }

.city {
  margin-top: 20px;
  color: white;
  background: none;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 20px;
  font-weight: bold; }

.player .control-play {
  text-align: center;
  margin-top: 20px; }
  .player .control-play button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    width: 32px;
    height: 32px;
    background-size: cover; }
    .player .control-play button:active {
      transform: scale(1.1); }
  .player .control-play .prev-play {
    background-image: url(/src/icons/play-prev.svg); }
  .player .control-play .play {
    background-image: url(/src/icons/play.svg);
    width: 40px;
    height: 40px; }
  .player .control-play .pause {
    background-image: url(/src/icons/pause.svg);
    width: 40px;
    height: 40px;
    z-index: 2; }
  .player .control-play .next-play {
    background-image: url(/src/icons/play-next.svg); }

.player .music-list {
  margin-top: -10px;
  color: white; }
  .player .music-list ul {
    text-align: left;
    margin: 10px;
    padding: 0; }
    .player .music-list ul:before {
      content: "✓ "; }

.item-active:before {
  color: #c5b358; }

.hide {
  display: none; }

/*# sourceMappingURL=main.css.map */
