body{
  font-family: Arial, Helvetica, sans-serif;
  // width: 100%;
    max-width: 100%;
    min-height: 100%;
// background-image: url('../src/image/1.jpg');
background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  transition: background-image 1s ease-in-out;
  
  
}
header{
}
main{
  button{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    width: 32px;
    height: 32px;
  }
  .centerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  .time{
    font-weight: bold;
    color: white;
    font-size: 100px;
    letter-spacing: 4px;
  }
  .date{
    
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
  }
  .slider-icon{
    position: absolute;
    top: 50%;
    &:active{
    transform: scale(1.1);
    }
  } 
  
  .slide-prev{
    left: 20px;
  background-image: url(../src/icons/slider-prev.svg);
  background-size:cover;
  }
  .slide-next{
    right: 20px;
    background-image: url(../src/icons/slider-next.svg);
    background-size:cover;
  }
}
// .tabs-nav {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: flex;
// }

// .tabs-nav-item {
//   cursor: pointer;
//   padding: 10px;
//   margin-right: 10px;
//   background-color: #f5f5f5;
// }

// .tabs-nav-item.active {
//   background-color: #ffffff;
// }

// .tabs-content .tab-item {
//   display: none;
//   padding: 20px;
// }

// .tabs-content .tab-item.active {
//   display: block;
// }
// .centerMain {
//   display: flex;
//   align-items: center;
//   justify-content: center;
  
// }

